/* body{
    letter-spacing: 0.2px;
    color: #656D78;
} */
.name {
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: normal;
}

.desc,a {
    font-size:14px;
    color:#4788c7;
    -webkit-transition:color 0.3s;
    -moz-transition:color 0.3s;
    transition:color 0.3s;
    font-weight: normal;
    text-decoration:none;
}

h1,h2,h3,h4,h5 {
    margin:0;
}
span {
    line-height: 1.5;
}
h2{
    margin-bottom: 14px;
}
h4 {
    font-size:1rem;
    line-height:1.5;
    
}
h4, .line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    align-items: center;
}

.container section {
    margin-bottom:1em
}
.container section article {
    padding-top:3px;
    padding-bottom:10px;
}

.container section .title {
    margin-top:40px;
}

/*内容*/
.container {
    margin-top: 110px;
    width: 100%;
    max-width: 820px;
    padding: 0 10px;
}

.container section article p {
    line-height:2em;
    margin: 0;
}

#resume .desc {
    width: 143px;
    text-align: right;
}

/* 项目经历 */
#presentation article{
  margin: 7px 0 24px;
}
.company {
    font-size: 17px;
}
#presentation .item {
    margin: 6px 0 24px;
}
#presentation .item-title{
    color: #4788c7;
    font-weight: normal;
    margin: 12px 0 8px;
}
#presentation ul {
    line-height: 2;
}

/* 技能 */
#skill ul {
    list-style:none;
    padding:.0;
}
#skill li {
    margin: 18px 0;
    line-height: 1.4 !important;
}
#skill li, .item-title {
    border-left:#4788c7 3px solid;
    line-height: 1;
    padding-left: 8px;
    -webkit-transition:border 0.3s;
    -moz-transition:border 0.3s;
    transition:border 0.3s;
}
#skill li:hover, .item-title:hover {
    border-left-width:7px;
}

/*适配*/
@media (min-width:960px) {
    h1 {
        font-size:1.5rem
    }
}
